/* On définit les polices a utiliser */
@font-face {
  font-family: "Joystick";
  src: url("../fonts/Joystick.otf");
}


/* Elements generaux */

html {
  height: 100%;

  /* On défini quelques variables pour pouvoir changer
  de couleur plus facilement */

  --color1: rgb(102, 102, 102);
  /*--color2: rgb(153, 153, 153);*/
  --color2: rgb(151, 86, 43);
  --color3: rgba(51, 51, 51, 0.7);
  --contour-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  /* On défini le fond du site */
  background: url("../images/background.jpg") no-repeat center fixed;
  background-size: cover;

  /* Par défaut on utilise Joystick */
  font-family: Joystick, Arial, Helvetica, "Liberation Sans", FreeSans,
    sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, li, i, img, tr {
  /* Tous les textes sont blancs */
  color: white;
}

/* On défini quelques tailles de textes */

p, a {
  font-size: 1.3em;
}

p a {
  /* "p a" fait référence aux liens qui se trouve dans un paragraphe */
  /* Il faut éviter d'augmenter leur taille */
  font-size: 0.95em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

ul {
  /* On ne veut pas de points dégueulasses devant
  les éléments des listes */
  list-style: none;
}

a:hover {
  /* Par défaut, tous les liens deviennent orange une fois survolés */
  color: var(--color2);
  transition-duration: 0.3s;
}

/* Entete */

header {
  /* On change la couleur de l'entête, on applique une petite bordure en bas
  et une ombre légère en dessous */
  background-color: var(--color1);
  border-bottom: 3px solid var(--contour-color);
  box-shadow: 0px 0px 3px 0px;
}

#top-page {
  /* Haut de l'entête (Logo et menu de navigation)*/
  /* display: flex permet de disposer les éléments en ligne */
  display: flex;
  /* space-between permet d'espacer les éléments */
  justify-content: space-between;
  /* on aligne les éléments en partant de la gauche */
  align-items: flex-start;
  /* On réduit l'espace en bas sinon l'entête est trop haute */
  margin-bottom: -130px;
}


#top-page > a {
  /* "#top-page > a" fait référence au lien du logo */
  margin-top: 10px;
  margin-left: 40px;
}

#top-page > a > img {
  width: 300px;
}

/* bar de navigation en haut a droite */

nav {
  /* Menu de navigation */
  /* on dispose les éléments en ligne (car en colonne par défaut) */
  display: flex;
  padding: 15px;
  /* on applique un joli orange en fond */
  background-color: var(--color2);
  /* on défini que le coins inférieur droit doit être arrondi de 25 pixels */
  border-radius: 0px 0px 0px 25px;
  /* On dessine des bordures blanches en bas et a gauche */
  border-bottom: 2px solid var(--contour-color);
  border-left: 2px solid var(--contour-color);
}

nav a {
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  /* Lors du survol des éléments de la barre de
  navigation, on change leur couleur */
  color: var(--color3);
  transition-duration: 0.3s;
}

/* ligne de points */

#dot-line {
  /* on dispose les points en ligne avec flex */
  display: flex;
  /* On laisse de l'espace entre les points */
  justify-content: space-around;
  /* On descend les points de 155 pixels sinon il ne sont pas alignés avec la
  bordure de l'entête */
  position: relative;
  top: 155px;
}

.dot-set {
  /* ensemble année+point+flêche+console */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot-set p {
  margin-top: 0;
  margin-bottom: 5px;
}

.dot {
  /* On dessine un point a l'aide de "border-radius: 50%" */
  background-color: var(--color2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid var(--contour-color);
}

#dot-clicked {
  /* Le point de la génération en cours est gris alors que les autres sont
  oranges */
  background-color: var(--color1)
}

/* previsualisation des consoles */

.gen-preview {
  /* On défini l'opacité à 0 pour masquer par défaut
  les consoles en prévisualisation */
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* On remonte de 120 pixels la console pour que, une fois survolé on crée une
  animation de descente */
  position: relative;
  top: -120px;
}

.console-example {
  /* Fait référence a l'image des consoles en prévisualisation */
  width: 80px;
  height: 80px;
  padding: 20px;
  background-color: var(--color1);
  border: 1px solid var(--contour-color);
  border-radius: 15px;
}

.dot-set:hover .gen-preview {
  /* Lors du survol des points, on change l'opacité
  et la position des consoles en prévisualisation */
  transition-duration: 0.3s;
  opacity: 1;
  top: 0px;
}

.dot-set:hover .dot {
  /* Lors du survol d'un point, on change sa couleur */
  background-color: var(--color1);
  box-shadow: 0px 0px 3px 0px;
  transition-duration: 0.3s;
}


/* section générale (contenu du site) */

section {
  /* On défini quelques marges autour de la section */
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  /* On laisse aussi des marges intérieurs pour éviter que les éléments soit
  collés aux bords de la section, sauf en bas pour que la flêche se colle à la
  bordure */
  padding: 2%;
  padding-bottom: 0;
  /* On déini des bordures grises autour */
  border-right: 2px solid var(--color1);
  border-left: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);
  border-radius: 0px 0px 20px 20px;
  background-color: var(--color3);
  /* On utilise flex pour disposer les éléments en colonne et centrés */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* On défini une hauteur minimum pour être sûr que le pied de page reste collé
  bas de la page */
  min-height: 700px;
}

article {
  width: 100%;
}

section p {
  text-align: justify;
}

section > h1 {
  text-align: center;
}

section > h2 {
  margin-bottom: 0;
}

h1 {
  margin-bottom: 5px;
}

.console-nav {
  /* Petit menu pour naviguer entre les consoles de la pages */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 70px;
}

.console-nav li {
  padding-right: 10px;
  padding-left: 10px;
}

.console-desc {
  /* Fait référence à une console */
  /* On utilise flex pour disposer les éléments en ligne */
  display: flex;
  margin-bottom: 65px;
}

.console-video {
  /* bordures autour des vidéos et taille */
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px; /* Pour chrome */
  border: 2px solid var(--contour-color);
  width: 560px;
  height: 315px;
}

aside {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.list-about p, .list-about a {
  margin: 0;
  text-decoration: none;
}

.gen-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 65px;
}

.gen-desc > article {
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gen-desc > article > aside {
  display: flex;
  flex-direction: column;
}

.gen-video {
  width: 100%;
  height: 250px;
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px; /* Pour chrome */
  border: 2px solid var(--contour-color);
}

/* bas de page */

footer {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-top: 2px solid var(--color1);
  border-right: 2px solid var(--color1);
  border-left: 2px solid var(--color1);
  background: var(--color3);
  border-radius: 20px 20px 0px 0px;
}

footer > img {
  /* Logo de pied de page */
  width: 200px;
}

footer p {
  margin: 0;
}

footer ul {
  padding: 0;
}

/* formes utiles */

.up-arrow {
  /* Ce code dessine une flêche grise tournée vers le haut */
  width: 0px;
  height: 0px;
  border-bottom: 15px solid var(--color1);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  margin-top: 10px auto;
}

.up-arrow-white {
  /* Ce code dessine une flêche grise tournée vers le haut */
  width: 0px;
  height: 0px;
  border-bottom: 15px solid var(--contour-color);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  margin-top: 10px auto;
}

.left-arrow {
  /* Ce code dessine une flêche blanche tournée vers la gauche */
  width: 0px;
  height: 0px;
  border-right: 15px solid var(--contour-color);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-top: 10px auto;
}

.right-arrow {
  /* Ce code dessine une flêche blanche tournée vers la gauche */
  width: 0px;
  height: 0px;
  border-left: 15px solid var(--contour-color);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-top: 10px auto;
}

.up-move-arrow:hover .up-arrow {
  /* Lors du survole d'une flêche, on change sa couleur */
  border-bottom: 15px solid var(--color2);
  transition-duration: 0.3s;
}
